.wrapper {
  border-radius: 25px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: white;
  width: 60%;
  position: relative;
  margin: auto;
  background-color: #DAE2F8;
  background: -webkit-linear-gradient(#DAE2F8 , #D6A4A4);
  background: linear-gradient(#DAE2F8 , #D6A4A4);
}

h1 {
  text-align: center;
}

h2 {
  border-bottom: 1px solid white;
}

form {
  text-align: center;
}

select{
  width:40%;
  height: 30px;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.wrapper .data-wrapper {
  text-align: center;
  position: relative;
}

.tempMin {
  font-size: 64px;
  margin-top: 20px;
  display: block;
}

.tempMax {
  font-size: 150%;
  color: white;
}

.temp {
  font-size: 44px;
  margin-top: 20px;
  display: block;
}
